XMLPrototyper/vrprep/VRPRep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by IMA (Université Catholique de l'Ouest) -->
<!-- Date: 2012/06/21 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="instance">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="info">
					<xs:annotation>
						<xs:documentation>Information about the XML instance file</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string">
								<xs:annotation>
									<xs:documentation>Name of the instance (e.g., E-n22-k4)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="problem" type="xs:string">
								<xs:annotation>
									<xs:documentation>Name of the problem (e.g., CVRP, VRPTW)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="reference" type="xs:string">
								<xs:annotation>
									<xs:documentation>Bibliographical reference to the instance</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="contributor">
								<xs:annotation>
									<xs:documentation>Information about the person who contributed the file</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string">
											<xs:annotation>
												<xs:documentation>Name of the contributor</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="email">
											<xs:annotation>
												<xs:documentation>E-mail of the contributor</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="[^@]+@[^\.]+\..+"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="requests">
					<xs:annotation>
						<xs:documentation>The set of requests in the instance</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Defines a request on the network</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="tw" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Defines a time window</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="demand" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Defines a demand (e.g. customer demand)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="prize" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Prize collected for servicing the request (e.g. prize-collecting TSP)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="cost" type="xs:double" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Fixed cost for servicing the request (e.g. VRPPC)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="releaseDate" type="xs:double" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Release date of the request (e.g. dynamic VRP)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="serviceTime" type="_time" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Represents a time for the request (e.g. service time)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="predecessors" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Set of preceeding requests (e.g., PDP)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
                        <xs:sequence>
													<xs:element name="request" type="xs:integer" minOccurs="1" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Preceding requests</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="successors" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Set of succeeding requests (e.g., PDP)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="request" type="xs:integer" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Id of the succeeding requests</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element ref="skill" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="tool" minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute name="id" type="xs:integer" use="required">
										<xs:annotation>
											<xs:documentation>Unique id of the request</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="type" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Type of request</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="node" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Id of the node to which the request is attached (e.g., node routing problems)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="link" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Id of the arc to which the request is attached (e.g. arc routing problems)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="network">
					<xs:annotation>
						<xs:documentation>Defines the transportation network</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodes">
								<xs:annotation>
									<xs:documentation>The set of nodes in the network</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="node" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Defines a node on the network</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="location" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Represents a node location</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="id" type="xs:integer" use="required">
													<xs:annotation>
														<xs:documentation>Unique id of the node</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="type" type="xs:integer">
													<xs:annotation>
														<xs:documentation>Type of node</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="links" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The set of links in the network</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="link" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Defines a link on the network</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="cost" type="xs:double" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Cost to use link</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="length" type="xs:double" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Length of the link</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="time" type="_time" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Representes a time (e.g.travel time on the arc)</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="tail" type="xs:integer" use="required">
													<xs:annotation>
														<xs:documentation>Id of preceding node to which the link is attached</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="head" type="xs:integer" use="required">
													<xs:annotation>
														<xs:documentation>Id of succeeding node to which the link is attached</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="id" type="xs:integer">
													<xs:annotation>
														<xs:documentation>Unique id of the link</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="directed" type="xs:boolean" default="false">
													<xs:annotation>
														<xs:documentation>Defines if the link is directed</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="type" type="xs:integer">
													<xs:annotation>
														<xs:documentation>Type of link</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="descriptor">
								<xs:annotation>
									<xs:documentation>Provides additional information about the network caracteristics</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="isComplete" type="xs:boolean" default="false" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Defines if the graph complete</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="distanceType" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Defines type of distances to be used (e.g. Euclidean,Manhattan, Geodesic, etc)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="roundingRule" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Defines how to round the values (e.g. next higher integer)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Possibility to add other carateristics</xs:documentation>
											</xs:annotation>
										</xs:any>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fleet">
					<xs:annotation>
						<xs:documentation>The set vehicles in the instance</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="vehicle" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Defines a vehicle in the network</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="fixedCost" type="xs:double" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Fixed cost for using a vehicle (e.g., HFVRP)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="variableCost" type="xs:double" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Variable cost (e.g. $/km, $/min)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="number" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Number of available vehicles of the class</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="nodeTypesCompatible" type="xs:integer" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Type of nodes accesible by the vehicle </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="speedProfile" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Speed caracteristics of the vehicle</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="maxTravelDistance" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Maximum travel distance of the vehicle</xs:documentation>
											</xs:annotation>
											<xs:complexType mixed="true">
												<xs:attribute name="isFlexible" type="xs:boolean" default="false">
													<xs:annotation>
														<xs:documentation>Defines if value is flexible</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="maxRequests" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Maximum number of requests</xs:documentation>
											</xs:annotation>
											<xs:complexType mixed="true">
												<xs:attribute name="isFlexible" type="xs:boolean" default="false">
													<xs:annotation>
														<xs:documentation>Defines if value is flexible</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="workloadProfile" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Represents the amount of work assigned or expected from the vehicle</xs:documentation>
                      </xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="maxWorkTime" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Maximum travel time of the vehicle</xs:documentation>
														</xs:annotation>
														<xs:complexType mixed="true">
															<xs:attribute name="isFlexible" type="xs:boolean" default="false">
																<xs:annotation>
																	<xs:documentation>Defines if value is flexible</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element ref="tw" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Time windows. May model either breaks or availability times</xs:documentation>
														</xs:annotation>
													</xs:element>
												<xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Possibility to add workload elements (e.g. overtime parameters)</xs:documentation>
														</xs:annotation>
													</xs:any>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element ref="capacity" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Vehicle capacity</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="departureNode" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Node id where the vehicle should begin its route</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="arrivalNode" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Node id where the vehicle should finish its route</xs:documentation>
											</xs:annotation>
										</xs:element>
                    <xs:element ref="skill" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="tool" minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute name="type" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Type of vehicle</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
		<xs:keyref name="arrivalNodeExists" refer="nodeId">
			<xs:selector xpath="fleet/vehicle"/>
			<xs:field xpath="arrivalNode"/>
		</xs:keyref>
		<xs:keyref name="departureNodeExists" refer="nodeId">
			<xs:selector xpath="fleet/vehicle"/>
			<xs:field xpath="departureNode"/>
		</xs:keyref>
		<xs:keyref name="predecessorRequestExists" refer="requestId">
			<xs:selector xpath="requests/request/predecessors/request"/>
			<xs:field xpath="."/>
		</xs:keyref>
		<xs:keyref name="successorRequestExists" refer="requestId">
			<xs:selector xpath="requests/request/successors/request"/>
			<xs:field xpath="."/>
		</xs:keyref>
		<xs:keyref name="linkExists" refer="linkId">
			<xs:selector xpath="requests/request"/>
			<xs:field xpath="@link"/>
		</xs:keyref>
		<xs:keyref name="nodeExists" refer="nodeId">
			<xs:selector xpath="requests/request"/>
			<xs:field xpath="@node"/>
		</xs:keyref>
		<xs:key name="requestId">
			<xs:selector xpath="requests/request"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:unique name="linkId">
			<xs:selector xpath="network/links/link"/>
			<xs:field xpath="@id"/>
		</xs:unique>
		<xs:keyref name="headExists" refer="nodeId">
			<xs:selector xpath="network/links/link"/>
			<xs:field xpath="@head"/>
		</xs:keyref>
		<xs:keyref name="tailExists" refer="nodeId">
			<xs:selector xpath="network/links/link"/>
			<xs:field xpath="@tail"/>
		</xs:keyref>
		<xs:key name="nodeId">
			<xs:selector xpath="network/nodes/node"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:keyref name="nodeTypesCompatibleExists" refer="nodeId">
			<xs:selector xpath="fleet/vehicle/nodeTypesCompatible"/>
			<xs:field xpath="."/>
		</xs:keyref>
	</xs:element>
  <xs:element name="location">
    <xs:annotation>
			<xs:documentation>Defines a location</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="euclidean">
					<xs:annotation>
						<xs:documentation>Euclidean coordinates of the location</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cx" type="xs:double">
								<xs:annotation>
									<xs:documentation>Coordinate value on the x axis</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="cy" type="xs:double">
								<xs:annotation>
									<xs:documentation>Coordinate value on the y axis</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="cz" type="xs:double" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Coordinate value on the z axis</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GPSCoordinates">
					<xs:annotation>
						<xs:documentation>GPS Coordinates</xs:documentation>
					</xs:annotation>
          <xs:complexType>
            <xs:attribute name="lat" type="xs:double" use="required" />
            <xs:attribute name="lon" type="xs:double" use="required" />
          </xs:complexType>
				</xs:element>
				<xs:any processContents="skip" namespace="##other" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Possibility to add another type of location</xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:choice>
		</xs:complexType>
	</xs:element>
		<xs:complexType name="_time" mixed="true">
      <xs:annotation>
        <xs:documentation>Defines a time</xs:documentation>
      </xs:annotation>
			<xs:choice>
				<xs:element ref="NormalVariable">
					<xs:annotation>
						<xs:documentation>Represents a Normal distribution</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="PoissonVariable">
					<xs:annotation>
						<xs:documentation>Represents a Poisson distribution</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:any processContents="skip" namespace="##other" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Possibility to add another type of time</xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:choice>
		</xs:complexType>
	<xs:element name="demand">
		<xs:annotation>
			<xs:documentation>Defines a demand</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:element ref="NormalVariable">
					<xs:annotation>
						<xs:documentation>Represents a Normal distribution</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="PoissonVariable">
					<xs:annotation>
						<xs:documentation>Represents a Poisson distribution</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:any processContents="skip" namespace="##other" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Possibility to add another type of demand</xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:choice>
			<xs:attribute name="isSplitable" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>(e.g. split delivery)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="type" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Type of demand (e.g. product)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="NormalVariable">
		<xs:annotation>
			<xs:documentation>Random variable following a Normal distribution defined by its mean and variance parameters (default parameters represent a Standard Normal Distribution)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="mean" type="xs:double" default="0">
					<xs:annotation>
						<xs:documentation>Mean value of the distribution (any double value)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="variance" type="positiveDouble" default="1">
					<xs:annotation>
						<xs:documentation>Variance value of the distribution (positive double)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PoissonVariable">
		<xs:annotation>
			<xs:documentation>Random variable following a Poisson distribution defined by its parameter Lambda</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lambda" type="positiveDouble">
					<xs:annotation>
						<xs:documentation>Lambda value of the distribution (positive double)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="positiveDouble">
		<xs:annotation>
			<xs:documentation>Double restricted to be greater than or equal to 0</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="tw">
		<xs:annotation>
			<xs:documentation>Defines a time window</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="start" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Beginning of time window</xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="true">
						<xs:attribute name="isHard" type="xs:boolean" default="true">
							<xs:annotation>
								<xs:documentation>Defines if start time is flexible</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="end" minOccurs="0">
					<xs:annotation>
						<xs:documentation>End of time window</xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="true">
						<xs:attribute name="isHard" type="xs:boolean" default="true">
							<xs:annotation>
								<xs:documentation>Defines if end time is flexible</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
      <xs:attribute name="period" type="xs:integer" use="optional">
        <xs:annotation>
          <xs:documentation>Integer value defining time windows period</xs:documentation>
        </xs:annotation>
      </xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="speedProfile">
		<xs:annotation>
			<xs:documentation>Defines a speed profile for a vehicle</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="avg" type="xs:double">
					<xs:annotation>
						<xs:documentation>Average speed</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element name="speedInterval" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Defines an instantaneous speed at a particular interval</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="speed" type="xs:double">
									<xs:annotation>
										<xs:documentation>instantaneous speed</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element ref="tw" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Time window at which this speed should be used</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="capacity">
		<xs:annotation>
			<xs:documentation>Defines a capacity (multi-compartment)</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:annotation>
				<xs:documentation>Variable capacity (e.g. MC-VRP)</xs:documentation>
			</xs:annotation>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element name="min" type="xs:double">
						<xs:annotation>
							<xs:documentation>Minimum compartment capacity</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="max" type="xs:double">
						<xs:annotation>
							<xs:documentation>Maximum compartment capacity</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
        <xs:sequence>
          <xs:element name="fixed" type="xs:double">
            <xs:annotation>
              <xs:documentation>Fixed compartment capacit</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
				<xs:sequence>
					<xs:element name="total" type="xs:double">
						<xs:annotation>
							<xs:documentation>Total vehicle capacity</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="type" type="xs:integer">
				<xs:annotation>
					<xs:documentation>(e.g. product id)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
  <xs:element name="skill">
    <xs:annotation>
      <xs:documentation>Represents a skill a vehicle has or a skill required to complete a request</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="id" type="xs:integer" use="required">
        <xs:annotation>
          <xs:documentation>Unique id of the skill</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="tool">
    <xs:annotation>
      <xs:documentation>Represents a tool to be carried by a vehicle or required to complete a request</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="id" type="xs:integer" use="required">
        <xs:annotation>
          <xs:documentation>Unique id of the skill</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
